<!doctype html>
<html>
<head>
  <title>Employee App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/add">Add Employee</a>
  </nav>

  <main class="container">
    <%- body %>
  </main>
</body>
</html>
